scg_actions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified" attributeFormDefault="unqualified"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="https://raw.githubusercontent.com/XulingYe/BPMN_SmartContractGenerator/main/scg_actions" 
	targetNamespace="https://raw.githubusercontent.com/XulingYe/BPMN_SmartContractGenerator/main/scg_actions">

    <xsd:complexType name="tBaseElement"
                     abstract="true"
                     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:sequence>
            <xsd:element ref="documentation"
                         minOccurs="0"
                         maxOccurs="unbounded" />
            <xsd:element ref="extensionElements"
                         minOccurs="0"
                         maxOccurs="1" />
        </xsd:sequence>
        <xsd:attribute name="id"
                       type="xsd:ID"
                       use="optional" />
        <xsd:anyAttribute namespace="##other"
                          processContents="lax" />
    </xsd:complexType>

    <xsd:element name="documentation" type="tDocumentation"/>
    <xsd:complexType name="tDocumentation" mixed="true">
        <xsd:sequence>
            <xsd:any namespace="##any" processContents="lax" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:ID" use="optional"/>
        <xsd:attribute name="textFormat" type="xsd:string" default="text/plain"/>
    </xsd:complexType>
    <xsd:element name="extensionElements" type="tExtensionElements" />
    <xsd:complexType name="tExtensionElements">
        <xsd:sequence>
            <xsd:any minOccurs="0" maxOccurs="unbounded" namespace="##other" processContents="lax" />
            <xsd:element ref="actions"
                         minOccurs="0"
                         maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="actions" type="tActions"/>
    <xsd:complexType name="tActions">
        <xsd:sequence>
            <xsd:element minOccurs="0"
                        maxOccurs="unbounded"
                        name="action">
                <xsd:complexType>
                    <xsd:attribute name="id"
                                  type="xsd:string"
                                  use="optional" />
                    <xsd:anyAttribute namespace="##other"
                      processContents="lax" />
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>